[program:piricohmotoThumbnail]
command=nice /home/venvs/piricohmoto/bin/python {{ install_root }}/bin/piricohmotoThumbnail.py
directory=/tmp
user=appuser
autostart=true
autorestart=true
startretries=3
stderr_logfile=/var/log/piricohmoto/piricohmotoThumbnail.err.log
stdout_logfile=/var/log/piricohmoto/piricohmotoThumbnail.out.log
