---
ip: {{ piricohmoto.camera_ip }}
access_token: {{ piricohmoto.access_token }}
camera_ssid: {{ piricohmoto.camera_ssid }}
camera_interface: {{ piricohmoto.camera_interface }}
download_dir: {{ piricohmoto.download_dir }}


