-----BEGIN CERTIFICATE-----
MIID/TCCAuWgAwIBAgIJANW5i4zsdVH/MA0GCSqGSIb3DQEBBQUAMFwxCzAJBgNV
BAYTAkdCMQ8wDQYDVQQIEwZMb25kb24xDzANBgNVBAcTBkxvbmRvbjERMA8GA1UE
ChMIa21lbS5vcmcxCzAJBgNVBAsTAnBpMQswCQYDVQQDEwJwaTAeFw0xNjA1MTUx
MTQ5MjNaFw0xNzA1MTUxMTQ5MjNaMFwxCzAJBgNVBAYTAkdCMQ8wDQYDVQQIEwZM
b25kb24xDzANBgNVBAcTBkxvbmRvbjERMA8GA1UEChMIa21lbS5vcmcxCzAJBgNV
BAsTAnBpMQswCQYDVQQDEwJwaTCCASIwDQYJKoZIhvcNAQEBBQADggEPADCCAQoC
ggEBAKPf2MTxsBYjaqmI7x3KiiyMTWfQYpJl6nicCcnvhBUgJb4hvM/RiksSpeXi
1IgqCMdAI6sndHWvPx7ScMlupIiFN5z24aUlEeSoJ10Npg7PFKsiFU2kcNqYLm+4
pRDD/EbZQdMXzZoMIaHOqV6Q5eWi+9PM4xCZEtlsfisBcbTUxKlLC6bPBwTCgjcP
dH8ZYJHMvUdz+Ta8vwme2miGTlFL7O5LFXPTSySBP3WWDOKG+1Z8Sc1MrQIRKQQR
Uqy4BXjebBzXsCVNM3WlZlKY6f8l5NRaNWl2Jq8Lu8+xoWAHDDJXqEb8EJbCUj32
NgcEnqxjpuR0w1W5KB1nwtSkzekCAwEAAaOBwTCBvjAdBgNVHQ4EFgQU5pUYiBaf
156h8QhhMBFOKEa/G4kwgY4GA1UdIwSBhjCBg4AU5pUYiBaf156h8QhhMBFOKEa/
G4mhYKReMFwxCzAJBgNVBAYTAkdCMQ8wDQYDVQQIEwZMb25kb24xDzANBgNVBAcT
BkxvbmRvbjERMA8GA1UEChMIa21lbS5vcmcxCzAJBgNVBAsTAnBpMQswCQYDVQQD
EwJwaYIJANW5i4zsdVH/MAwGA1UdEwQFMAMBAf8wDQYJKoZIhvcNAQEFBQADggEB
AG5uG4w9MxviBeXHqVet5nYCNgFkslJk4ZkOoORTgSPGYN75iCpb6Ir62e0ymMtW
jv9ioh+rQdobi6nVFv316tzSeZNsj9W9Pm977s1RDx+wbsm4tpvirK+DMvl3Lj+8
D08wnXVbcxO7TTQtAfT3ekZoVpwYAzFsNaAVFH8YfZ5E7iROaarYtNPWP0oBjovs
Q/DqNRhQ535QPyuiLZApUVh+ChB1uie3HlgWdjHONX7VOsxMX7UWCLmmOtzHDKwJ
gR98v9HhJZnqiZDZ5ediKOSjGW1Ylq1o960XRabEz491Ousl0x87LTpDZhZ5rMdg
jT1bMEerYexyAzgUm2iwMK0=
-----END CERTIFICATE-----
{{ ssl_key }}

